<section>
    <div class="content-wrapper  ">
        <div class="col-lg-10 col-lg-offset-1">
            <div>
                <h5>Woensdag avond 2 juli: IceBreaker party
                    <h5>Met:</h5>
                </h5>
                <h3 style="color:#4CB05B">The Legendary MGI Band ! </h3>
                <div class="content-wrapper text-left">
                    <div class="col-lg-6 col-lg-offset-3">
                        <p> Niet veel mensen weten dat het Laboratorium voor Geo-informatie en Remote Sensing van
                            Wageningen Universiteit is ontstaan rond de legendary MGI Band. Het laboratorium dient
                            als inspiratiebron voor de nummers die de legendary MGI Band speelt.
                            Veel van deze nummers zullen bekend in de oren klinken. Bekende artiesten zoals de Beatles,
                            AC/DC en John Mayer hebben nummers gespeeld die de legendary MGI Band ook speelt,
                            met net iets andere teksten. Op woensdagavond neemt de legendary MGI Band je mee op een
                            reis waarin ze open source en aanverwante thema's interpreteert in muziek!</p>
                    </div>

                </div>
                <img style="width: 40%;" src="img/Logo MGI band.jpg" />
                <h3>Woe 2 juli - 20:00 @ <a target="blank" href="https://www.openstreetmap.org/node/1673952785">Cafe
                        Daniels,
                        Wageningen</a> </h3>

                <p>Wil je mee zingen? Download de teksten <a href="img/250702_songs_FOSS4G_01.pdf" download>hier</a></p>
            </div>
        </div>
    </div>
</section>