<!-- Begin Call for presentations Section -->
<section class="about" style="border:1px solid #c0c0c0;">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Call for presentations - verlengd t/m 25 mei!</h3>
            <div class="content-wrapper text-left">
                <div class="col-lg-6 col-lg-offset-3">
                  <p>Dien jouw presentatie- of workshopvoorstel in!</p>

                  <p>Een FOSS4G‑evenement draait om makers én gebruikers van open source GIS‑toepassingen. 
                    Het is de plek waar we laten zien wat er mogelijk is met vrije software, waar we elkaar inspireren en waar nieuwe ideeën ontstaan.</p>

                  <p>Ben je maker van een tool, plugin, workflow of dataset? Dan is dit hét podium om te laten zien wat er allemaal kan: van slimme scripts tot verrassende visualisaties.</p>

                  <p>Ben je gebruiker? Ook dan heb je vast een toepassing, project of inzicht dat anderen verder kan helpen. Denk aan praktijkvoorbeelden uit beleid en uitvoering, zoals:</p>

                  <ul>beleidstoepassingen rond klimaatadaptatie, waterbeheer of natuurmonitoring</ul>
                  <ul>analyses voor ruimtelijke ordening, mobiliteit, energietransitie of openbare veiligheid</ul>
                  <ul>innovatieve workflows voor participatie, datadeling, open standaarden of digitale tweelingen</ul>
                  <ul>transitie naar digitaal soevereine software en data infrastructuur</ul>
                  <ul>…maar ook kleinere praktijkvoorbeelden, creatieve hacks of verrassende workflows zijn van harte welkom!</ul>

                  <p>Naast presentaties en workshops moedigen we ook rondetafelvoorstellen aan: sessies waarin deelnemers samen in gesprek gaan over een gedeeld thema, vraagstuk of uitdaging.</p>

                  <p>Laat ons weten wat jij wilt bijdragen. We kijken uit naar jouw voorstel voor een presentatie, workshop of rondetafelgesprek!
                  Dien je voorstel in op <a href="https://pretalx.com/foss4gnl/cfp" target="_blank">https://pretalx.com/foss4gnl/cfp</a>
                  <p>We hebben de deadline nog iets opgeschoven: we zien je voorstel graag uiterlijk 25 mei binnenkomen</p>
               </div>
            </div>
        </div>
    </div>

</section>
<!-- End Call for Presenations Section -->
