<!-- Begin Statistic Section -->
<section class="about" style="    border:1px solid #c0c0c0;">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Keynote sprekers</h3>

            <div class="col-md-6 col-xs-6">
                <h4>Kirsten de Beurs </h4>
                <div class="flow-img img-circle people-img"
                    style='margin:auto; width: 100px; height: 100px; background-image: url("/img/people/kirsten_beurs.jpeg")'>
                </div>
                <h5>Chair of the Remote Sensing chair group at Wageningen University </h5>
                <div class="content-wrapper text-left">

                    <p>Kirsten's research not only leverages remote sensing to investigate environmental
                        processes,
                        but
                        also explores its application in understanding human environment interactions.
                        Throughout her academic career, Kirsten has gained experience with both open source and
                        proprietary
                        software, giving her a clear perspective on the advantages and disadvantages of each. In her
                        keynote, she will discuss the importance of open source software, particularly in a rapidly
                        evolving
                        technological landscape where transparency is not always guaranteed.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xs-6">
                <h4> Peter de Graaf </h4>

                <div class=" flow-img img-circle people-img"
                    style='margin:auto; width: 100px; height: 100px; background-image: url("/img/people/peter_de_graaf.jpg")'>
                </div>
                <h5> Data soevereiniteit, hebben we dat eigenlijk wel?</h5>
                <div class="content-wrapper text-left">
                    <p>
In hoeverre zijn of waren we de baas over onze eigen geodata en hoe moeten we dat zien in het licht van de recente geopolitieke verschuivingen

Geodata was, is en zal altijd een belangrijke geopolitieke asset zijn. Een belangrijk deel van de lange termijn europese geopolitieke agenda is gebaseerd op data soevereiniteit. Maar hoe souverein waren we eigenlijk en hoe souverein willen of moeten we eigenlijk zijn? En welke oplossingen kunnen er vanuit Open Source geboden worden? Deze presentatie schetst de context en bundelt actuele vragen zonder deze meteen te kunnen beantwoorden. Welke wishdom schuilt er in communities om die vragen verder te kunnen beantwoorden?


                    </p>
                </div>
            </div>

            {{/*  <div class="col-md-6 col-xs-6">
                <h4>Raymond Nijssen </h4>

                <div class=" flow-img img-circle people-img"
                    style='margin:auto; width: 100px; height: 100px; background-image: url("/img/people/raymond_nijssen.jpg")'>
                </div>
                <h5>💡 + 🐍 + 💰 = QGIS Plugin! </h5>
                <div class="content-wrapper text-left">
                    <p> Raymond is a QGIS fan :) In deze presentatie wordt getoond hoe een briljant idee, een
                        (briljante) python ontwikkelaar en het
                        nodige budget elkaar vinden en een handige QGIS plugin opleveren.
                        Ook wordt gedemonstreerd hoe, in het algemeen, open source software ontwikkeling in zijn
                        werk gaat en
                        wat daar zoal bij komt kijken.

                    </p>
                </div>
            </div>  */}}


        </div>
        <div class="col-lg-10 col-lg-offset-1">

            <h6>bekijk alle sprekers op : </h6>
            <a href="https://talks.osgeo.org/foss4gnl-2025/speaker/"
                class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link !=null
                %}target="_blank" {% endif %}>Sprekers pagina</a>
        </div>
</section>
<!-- End Statistic Section -->