<!-- Begin PreTalx Section -->
<section id="pretalx" class="schedule_conference">
  <div class="content-wrapper text-left">
    <pretalx-schedule event-url="https://pretalx.com/foss4gnl/" locale="nl" format="grid" style="--pretalx-clr-primary: #005864"></pretalx-schedule>
    <noscript>
       <div class="pretalx-widget">
            <div class="pretalx-widget-info-message">
                JavaScript is disabled in your browser. To access our schedule without JavaScript,
                please <a target="_blank" href="https://pretalx.com/foss4gnl/schedule/">click here</a>.
            </div>
        </div>
    </noscript>
  </div>
</section>
<!-- End Schedule Section -->
