<!-- Begin Save the Date Section -->
<section class="about" style="border:1px solid #c0c0c0;">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Save the date - Blok die dag</h3>

            <div class="col-md-6 col-xs-6">
                <div class="content-wrapper text-left">

                    <p>
                    Save-the-date: 8 en 9 juli:.Foss4G-NL na 9 jaar terug in Groningen
                    </p>
<p>In 2017 vond bij de RUG in Groningen de eerste Foss4G-NL plaats. De organiserende stichting OSGeo.nl is trots dat na 9 jaar de Foss4G-NL terugkeert naar haar geboortegrond. 
De Foss4G-NL is de jaarlijkse conferentie over open source software voor geo. Ieder jaar trekt dit event tussen de 150 en 200 bezoekers.
Ook dit jaar gaan we onze deelnemers weer trakteren op één dag handen-uit-de-mouwen workshops en één dag met presentaties met een mix techniek en toepassing. Developer, toepasser, beheerder en ICT-beleidsmaker gaan er allemaal iets van hun gading vinden. 
Dit jaar doen we dat in samenwerking met de Jantina Tammes School of Digital Society, Technology and AI
We zijn nu bezig het programma en de side-events vorm te geven. Leuke ideeën zijn welkom, meewerkende handjes nog veel meer. Contacteer ons via foss4g@osgeo.nl
</p>
                </div>
            </div>

        </div>

</section>
<!-- End Save the Date Section -->
