<!-- Begin Tickets Section -->
<section class="about" style="border:1px solid #c0c0c0;">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Tickets zijn beschikbaar!</h3>
            <div class="content-wrapper text-left">
                <div class="col-lg-6 col-lg-offset-3">
                  <p>Toegangsbewijzen voor de Foss4G-NL 2026 zijn vanaf nu beschikbaar, ook voor de workshops!</p>

                  <p>Je maakt ons blij door snel een ticket aan te schaffen, des te eerder krijgen wij een beeld met hoeveel jullie naar Groningen komen.</p>
                  
					<p>We hanteren wederom het "pay as you like" principe, met onze richtprijs (€ 35) hopen we de kosten voor koffie en thee-met-wat-er-bij, lunch, aankleding etc.) te dekken.
					Naar ons idee is die €35 eigenlijk een koopje voor het mooie programma dat we gaan bieden. Je treinkaartje naar Groningen is duurder, en van sommige deelnemers is hun uurtarief al hoger ...</p>

					<p>Haal nu je ticket op <a href="https://pretix.eu/foss4gnl/2026/" target="_blank">https://pretix.eu/foss4gnl/2026/</a></p>
               </div>
            </div>
        </div>
    </div>

</section>
<!-- End Tickets Section -->
